@import "../../../styles/baseline/_styles";

.accordion {
  * {
    color: #F7F2E4;
  }
  cursor: pointer;
  background-color: #186C4A;
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 8px;
  &:last-child {
    margin-bottom: 0;
  }

  .titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h3{
    margin-bottom: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  .plusIcon{
    width: 30px;
    height: 30px;
    background-color: #F7F2E4;
    display: block;
    position: relative;
    border-radius: 5px;

    &::before, &::after{
        width: 15px;
        height: 1.5px;
        background-color: #186C4A;
        content: '';
        display: block;
        border-radius: 10px;
        position: absolute;
        top: 15px;
        left: 8px;
        transition: 0.3s;
    }

    &::after{
        transform: rotate(90deg);
    }
  }

}

.accordionInfo{
    span {
        font-size: 12px;
        line-height: 20px;
        border-bottom: 2px solid;
        margin-bottom: 10px;
        display: block;
        width: max-content;
      }
    
      h3 {
        width: max-content;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
      }
    
      h4 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    
        &:last-child {
          margin-bottom: initial;
        }
      }
    
      ul,
      ol {
        padding-left: 30px;
      }
}

.rotatePlus{
    .titleContainer {
        .plusIcon{
            &::after{
                transform: rotate(0deg);
            }
        }
    }
}

.accordionClose {
  opacity: 0;
  height: 100%;
  max-height: 0;

  .accordionInfo {
    pointer-events: none;
  }
}
.accordionOpen {
  max-height: 100%;
  opacity: 1;
  transition: 0.3s;

  .accordionInfo {
    pointer-events: all;
    padding: 30px;
    margin-top: 10px;
    border-top: 3px solid #F7F2E4;
  }
}
