@import "../../../styles/baseline/_styles";

.footer-section{
    background-color: $green-black;
    padding: 20px 0;

    .container{
        display: flex;
        justify-content: space-between;

        @include respond-to($bp-sm){
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    .icon-social{
        :first-child{
            margin-right: 15px;
        }
    }

    .icon{
        display: inline-block;
        padding: 5px 5px 2px 5px;
        border-radius: 4px;
        transition: .3s all;

        &:hover{
            background-color: $color-primary;
        }
    }
}

.copy {
    @include respond-to($bp-sm) {
        text-align: center;
    }
}