@import "../../../styles/baseline/_styles";

.overlay {
  background-color: $green-black;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  transition: $global-transition;
  background-color: $green-black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  padding: 10px 0;

  @include respond-to($bp-lg) {
    padding: initial;
  }
  .icon-social {
    display: flex;
    gap: 20px;

    a {
      border: solid 2px transparent;
      border-radius: 2px;
      padding: 3px;
      transition: .2s;
      &:hover {
        border: solid 2px #05a34b;
      }
    }
  }

  &.active {
    // height: 50%;

    .overlay {
      display: block;
      opacity: 1;
    }

    .menu {
      @include respond-to($bp-lg) {
        max-height: 265px;
      }

      .menuItems {
        @include respond-to($bp-lg) {
          transform: initial;
          opacity: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;

          .item {
            margin: initial;
          }
        }
      }
    }
  }
}

.menu {
  width: 100%;
  z-index: 8;
  padding: 2.5px 0;
  transition: $global-transition;
  overflow: hidden;

  @include respond-to($bp-lg) {
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    position: fixed;
    max-height: 65px;
    height: 100vh;
    padding: 6px 0;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  display: none;
  cursor: pointer;
  position: relative;
  height: 30px;
  margin-right: 30px;

  @include respond-to($bp-lg) {
    display: block;
  }
}

.span {
  background-color: $color-black-2;
  display: block;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 0.3s;
  width: 30px;

  &:first-child {
    top: 6px;
  }
  &:nth-child(2) {
    top: 17px;
  }
  &:nth-child(3) {
    top: 28px;
  }
}

.expanded {
  &:first-child {
    top: 16px;
    transform: rotate(135deg);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    top: 16px;
    transform: rotate(-135deg);
  }
}

.menuItems {
  transition: $global-transition;

  @include respond-to($bp-lg) {
    transform: translateY(30px);
    transition: initial;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    opacity: 0;
  }
}

.item {
  color: $color-white;
  padding: 10px;
  border-radius: 8px;
  transition: $global-transition;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-right: 8px;
  position: relative;
  border: solid 2px transparent;

  @include respond-to($bp-lg) {
    transition: initial;
    color: $color-black-2;
  }

  &:last-child {
    margin: initial;
    background-color: $color-cuarto;
    @include respond-to($bp-lg) {
      color: $color-white;
    }
  }

  &:hover {
    color: $color-primary;
    border: solid 2px $color-primary;

    &:last-child {
      background-color: transparent;
    }
  }
}

.btn-whatsapp {
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 30px;
  background: transparent;
  border: initial;
  width: 45px;
  height: 45px;
}
