@import "../../../styles/baseline/_styles";

.contact {
  padding-top: 50px;
}

.heading {
  margin-bottom: 50px;
}

.container {
  max-width: 900px !important;
  border-radius: 8px;
}

.infoContact {
  margin-bottom: 40px;
}