// color abstractions
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-2: #2F2F2F;

$color-primary: #05a34b;
$color-secondary: #08b357;
$color-tertiary: #214440;
$color-cuarto: #1E875B;
$green-black: #214440;