// Widths & Breakpoints
$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-l: 1024px;
$bp-xl: 1200px;

// Spacings
$sp-xsmall: rem-calc(16);
$sp-small: rem-calc(32);
$sp-medium: rem-calc(48);
$sp-large: rem-calc(60);
$sp-xlarge: rem-calc(72);

// Display Constants
$border-radius-small: 0.2em;

.container {
	max-width: 1262px;
	width: 100%;
	padding-right: $sp-xsmall;
	padding-left: $sp-xsmall;
	margin: 0 auto;

	// @include respond-to($bp-xl) {
	// 	max-width: 999px;
	// }

	// @include respond-to($bp-md) {
	// 	overflow-x: hidden;
	// }
}
$border-radius-small: 0.2em;
