// Constants - Font Families
$font-primary: Lato, Calibri, Tahoma, Sans-Serif; 
$font-secondary: 'Be Vietnam Pro', Calibri, Tahoma, Sans-Serif; 

// Constants - Font Weights
$heavy: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;