@import "../../../styles/baseline/_styles";

.title {
  font-family: $font-primary;
  margin-bottom: 20px;
  
  // Color: Primary
  &.primary {
    color: $color-primary;
  }
  
  // Color: Secondary
  &.secondary {
    color: $color-secondary;
  }

  // Color: White
  &.white {
    color: $color-white;
  }

  // Extra Small
  &.xs {
    font-size: rem-calc(19);
    line-height: rem-calc(22);
    font-weight: $medium;
  }

  // Size: Small
  &.sm {
    font-size: rem-calc(25);
    line-height: rem-calc(30);

    @include respond-above($bp-sm) {
      font-size: rem-calc(30);
      line-height: rem-calc(36);
    }
  }

  // Size: Medium
  &.md {
    font-size: rem-calc(29);
    line-height: rem-calc(34);
    
    @include respond-above($bp-sm) {
      font-size: rem-calc(38);
      line-height: rem-calc(42);
      font-weight: $heavy;
    }
  }
}